@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");
/* font-family: "Titillium Web", sans-serif; */

:root {
  --gradient1: linear-gradient(45deg, #f7b733, #fc4a1a);
  --gradient2: linear-gradient(45deg, #f2c94c, #f2994a);
  --gradient3: linear-gradient(45deg, #ed8f03, #ffb75e);
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-image: var(--gradient1);
  background-size: 400%;
  animation: bg-animation 3s infinite alternate;
}
@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

header {
  font-family: "Titillium Web", sans-serif;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 70px;
  background-color: #f76e11;
  opacity: 0.9;
  text-decoration: none;
}

header a {
  text-decoration: none;
  color: #ffff;
  opacity: 0.9;
}

.brand {
  font-size: 25px;
}

.navbar {
  display: flex;
  list-style: none;
}

.navbar li {
  display: block;
  padding: 0 15px;
  text-transform: uppercase;
}

.navbar li :hover {
  color: #000;
}

/* nav end  */

.main {
  width: 100%;
  height: 400px;
  background-image: url(img/foto-3.png);
  background-repeat: round;
  background-size: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.desc1 {
  text-align: center;
  font-family: "Titillium Web", sans-serif;
  color: #ffff;
  padding: 10px;
  font-size: 25px;
}

.desc1 p {
  transition: 1.5s;
}

.desc1 p:hover {
  cursor: pointer;
  font-size: 35px;
}
/* main end  */

.beranda {
  margin: 20px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  color: #fff;
  font-size: 25px;
  font-family: "Titillium Web", sans-serif;
}

.desc2 {
  text-align: justify;
  width: 75%;
}
